<div class="row">
  <div class="offset-3 offset-sm-2 col-4 col-sm-4">
    <h1>Clientes Asignados</h1>
  </div>
<div>
<div class="row mb-3">
  <div class="offset-3 offset-sm-2 col-2 col-sm-2">
    <%= form_with do |form| %>
      <%= form.select :id, User.where(contabilidad: true).collect {|p| [p.nombre_usuario, p.id]}, {selected: usuario_actual.id, include_blank: true }%>
      <%= form.submit "Cambiar"%> 
    <% end %>
  </div>
</div>
<div id="lista_clientes_asignados">
  <%= render partial: "update_lista_clientes_asignados"%>
</div>
