<div id="<%= dom_id usuario_externo %>">
  <p>
    <strong>Nombre usuario:</strong>
    <%= usuario_externo.nombre_usuario %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= usuario_externo.password_digest %>
  </p>

</div>
