<div id="<%= dom_id usuario_externo %>">
  <p>
    <strong>Nombre usuario:</strong>
    <%= usuario_externo.nombre_usuario %>
  </p>
  <p>
    <strong>Email confirmado:</strong>
    <%= usuario_externo.email_confirmado%>
  </p>

</div>
