<h1>Usuario externos</h1>

<div id="usuario_externos">
  <% @usuario_externos.each do |usuario_externo| %>
    <%= render usuario_externo %>
    <p>
      <%= link_to "Mostrar Usuario Externo", usuario_externo %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo Usuario Externo", new_usuario_externo_path %>
