<div style="text-align: center">
  <% if pagina >  pag_minimas%>
    |  <%= link_to "Peticiones Más Recientes", new_peticion_path(page: pagina - 1) %> |
  <% end %>
  <% if pagina <  pag_maximas%>
  |  <%= link_to "Peticiones Más Antiguas", new_peticion_path(page: pagina + 1) %> |
  <% end %>
</div>
