<% if @peticion.respuesta_idse.attached? %>
  Si  <%= link_to "Ver Archivo", url_for(@peticion.respuesta_idse) %>
<% else %>
  No
<% end %>
<div class="alert alert-primary">
  <% if params[:peticion].nil? %>
    "Tienes que adjuntar un archivo antes"
  <% else %>
    Peticion enviada a <%=@peticion.usuario_externo.nombre_usuario%>
<% end %>
</div>
