<% if logged_in? %>
<div class="row">
  <div style="text-align: center">
    <%= link_to "Ver todas las peticiones", peticiones_path %>
  </div>
</div>
<% end %>
<h1 style="text-align: center">Nueva Petición</h1>
<hr>
<%= render "form", peticion: @peticion %>
