<% if logged_in? %>
<div class="row">
  <div style="text-align: center">
    <%= link_to "Ver todas las peticiones", peticiones_path %>
  </div>
</div>
<% end %>
<h1 style="text-align:center; background-color: yellow;">El día Viernes 23 de Abril no habrá labores debido a un corte de luz eléctrica impuesto por la CFE.</h1>
<h1 style="text-align: center">Nueva Petición</h1>
<hr>
<%= render "form", peticion: @peticion %>
<hr>
