<div class="row">
  <h1 class="offset-2 col-2 offset-sm-3 col-sm-9">Casos</h1>
</div>

<div class="row">
  <div class="offset-2 col-2 offset-sm-3 col-sm-9">
  <%= link_to 'Nuevo Caso', new_caso_path, :class => "btn btn-primary" %>
  </div>
</div>

<hr>

<%= render 'shared/casos_list', casos: @casos %>
