<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Adjunto encontrarás el documento del IDSE asociado a la petición que realizaste. ¡Gracias!</h1>
  </body>
</html>

