<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte con el siguiente correo, <%= @user.nombre_usuario %>. Este será tu Usuario de ahora en adelante.</h1>
    <p>
    Para verificar tu correo, da click en el siguiente link: <%= confirm_email_usuario_externo_url(@user.confirm_token) %>
    </p>
    <p>
    Si no puedes dar click en él, puedes copiarlo y pegarlo en la barra de tu navegador
    </p>
    <p>¡Gracias!</p>
  </body>
</html>

