<div class="offset-2 col-10">
  <h3>Obligaciones Presentadas de <%= @cliente.razon_social %></h3>
</div>
<div class="row mb-3">
  <div class="offset-2 col-3">
    <%= link_to "Regresar a Clientes Asignados", contabilidad_clientes_path, :class => 'btn btn-primary' %>
  </div>
</div>
<div id="obligaciones">
    <%= render "obligacion", obligaciones: @obligaciones%>
</div>

