<div class="row mb-3">
  <div class="offset-md-1 col-md-3">
    <h1>Nueva obligacion</h1>
  </div>
</div>

<%= render "form", obligacion: @obligacion, cliente: @cliente %>

<br>

<div class="row mb-3">
  <div class="offset-md-1 col-md-3">
    <%= link_to "Ir a lista de clientes asignados", contabilidad_clientes_path, {:class => 'btn btn-primary'}%>
  </div>
</div>
